.App {
  text-align: center;
}

.text {
  color: #384DA2;
}

.header {
  background-color: #3b5cae;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  width: 100%;
  top: 0;
  height: 45PX;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 30px; 
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-right: 250px;
  cursor: pointer;
}

.header nav ul li:first-child {
  margin-left: -60px;
}

.header nav ul li:last-child {
  margin-right: 0;
}

.header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 21px;
}

.header nav ul li a.selected {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.aboutus {
  margin-top: 115px;
  margin-left: 75px;
  font-size: 30px;
}

.aboutustxt {
  font-size: 20px;
  max-width: 1200px;
}

.searchBar {
  margin-top: 150px;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 17px;
  width: 100%;
  margin-right: 5px;
}

input:focus {
  outline: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #244086;
  cursor: pointer;
}

.finder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchResults {
  width: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 0px 9px #ceebff;
  border-radius: 10px;
}


.searchResult {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex: 1;
}

.searchResult:hover {
  background-color: #efefef;
}

.addButton {
  background-image: url(plus-icon.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 20%;
  border-width: 1.5px;
}

.collistpg {
  display: flex;
  flex-direction: column;
}

.collegeTitle {
  margin-top: 100px;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
}

.collegeList {
  margin-left: 50px;
}

.homepagesnippets {
  margin-top: 100px;
  margin-left: 40px;
}

.findersnippet {  
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.findersniptext {
  font-size: 18px;
  margin-right: 396px;
}

.findersnipbutton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: rgb(69, 133, 222);
  display: inline-flex;
  align-items: center;
}

.findersnipbutton::after {
  content: '\2192';
  margin-left: 15px; 
}

.exploresnippet {
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.exploresniptext {
  font-size: 18px;
  margin-right: 786px;
}

.exploresnipbutton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: rgb(69, 133, 222);
  display: inline-flex;
  align-items: center;
}

.exploresnipbutton::after {
  content: '\2192';
  margin-left: 15px; 
}

.explorewidgets {
  color: gray;
  margin-left: 30px;
  margin-bottom: 40px;
}

.collistsnippet {
  margin-top: 35px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.collistsniptext {
  font-size: 18px;
  margin-right: 999px;
}

.collistsnipbutton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: rgb(69, 133, 222);
  display: inline-flex;
  align-items: center;
}

.collistsnipbutton::after {
  content: '\2192';
  margin-left: 15px; 
}

.collistsnip {
  color: rgb(46, 98, 171);
  margin-top: -2px;
  list-style: none;
}

.collistsnip li:before {
  content: "-";
  position: absolute;
  left: 0;
  padding-left: 60px;
}